/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* WhatsApp */
.btn-always-info-container {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Ajusta la distancia desde el borde izquierdo */
    z-index: 9999999;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 50%);
    border-radius: 50px;
}

.icon-always-info-container {
    color: #ffffff;
    font-size: 35px;
    width: 65px;
    height: 65px;
    background-color: #25d366;
    border-radius: 50px;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    cursor: pointer; /* Añade un cursor de mano para indicar que es un botón */
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 80px; /* Ajusta esta distancia según sea necesario */
    left: 0; /* Mantén el menú alineado con el botón */
    background-color: #f9f9f9;
    min-width: 120px; /* Ajusta el ancho mínimo del menú */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px; /* Ajusta el padding para hacer los elementos más pequeños */
    text-decoration: none;
    display: block;
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}




/* Estilos de la navbar */
.navbar {
    background-color: #0a0707;
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.a_navbar{
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Usa el color del elemento padre */
    cursor: default; /* Cambia el cursor para que no parezca un enlace */
}

/* Estilo del logo en la navbar */
.navbar .navbar-brand img.logo {
    max-width: 60px;
    /* Ajusta el tamaño del logo */
    max-height: 60px;
    margin-left: 30px;
    /* Ajusta el margen del logo */
}

/* Estilos para el botón del menú hamburguesa */
.navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
    /* Borde del botón en color blanco con transparencia */
    /* Ajusta el padding del botón */
    align-self: center;
    /* Asegura que el toggler esté centrado verticalmente */
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    /* Cambia el color del ícono a blanco */
}

/* Estilos del menú desplegable */
.navbar-collapse {
    background-color: #0a0707;

    /* Asegura que el fondo del menú desplegable sea igual al de la navbar */

}

.navbar-nav {
    align-items: center;

    /* Alinea los items del menú verticalmente al centro */
}

.navbar .navbar-nav .nav-link {

    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    /* Ajusta el tamaño de la fuente para adaptarse a la nueva altura */
    margin-right: 20px;
    /* Ajusta el margen derecho */
    color: #F5F5F5FA;
    transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover {
    color: #FE9B33;
}

/* Seccion HERO */
.hero {
    position: relative;
    background-image: url('../images/bg-camioneta.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ajusta el último valor (0.5) para controlar la opacidad */
}

.hero-content {
    position: relative;
    /* Asegura que el contenido esté por encima del overlay */
    z-index: 1;
    /* Coloca el contenido por encima del overlay */
    padding-right: 30px;
    padding-left: 15px;
}


.hero-subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #FE9B33;
    /* Color naranja para que resalte */
    text-transform: uppercase;
    /* Opcional: para que esté en mayúsculas */
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
    /* Tamaño del título */
    margin-bottom: 20px;
    margin-top: 0;
    /* Espacio inferior del título */
}

.hero-content p {
    font-size: 1.5rem;
    font-weight: 00;
    /* Tamaño del texto */
    margin-bottom: 20px;
    /* Espacio inferior del texto */
}

.hero .btn-primary {
    background-color: #FE9B33;
    /* Color de fondo del botón */
    color: #ffffff;
    font-weight: 500;

    /* Color del texto del botón */
    padding: 12px 30px;
    /* Espaciado interno del botón */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    /* Quita la subrayado del enlace */
    transition: background-color 0.3s ease;
    /* Transición suave */
}

.hero .btn-primary:hover {
    background-color: #FFA94D;
    /* Cambio de color al pasar el mouse */
}

.hero-logo {
    display: flex;
    justify-content: flex-end;
    /* Alinea el logo a la derecha */
    align-items: center;
    height: 100%;
    /* Ajusta la altura del contenedor del logo */
}

.hero-logo img {
    max-width: 100%;
    /* Ajusta el tamaño máximo del logo */
}

/* Seccion Sobre Nosotros */
.about-us-section {
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.about-us-card {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 550px;
}

.about-us-card .row {
    height: 100%;
}

.about-us-card .col-md-6 {
    height: 100%;
}

.about-us-card .card-body {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-card .card-title {
    color: #F5F5F5FA;
    background-color: #FE9B33;
    padding: 10px 20px;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    border-radius: 10px;
    display: inline-block;
}

.about-us-card .card-text {
    color: #0A0707;
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 20px;
}

.about-us-card .card-line {
    width: 190px;
    height: 9px;
    background-color: #FE9B33;
    margin: 20px 0;
}

.about-us-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us-card .card-line {
    width: 190px;
    /* Ancho de la línea */
    height: 9px;
    /* Altura de la línea */
    background-color: #FE9B33;
    /* Color naranja */
    margin: 20px auto;
    /* Margen superior e inferior automático y centrado horizontal */
}

/* flota*/
/* Estilos para la sección NUESTRA FLOTA */
#flota {
    padding: 50px 0; /* Ajusta el espaciado interior según sea necesario */
  }
  
  #flota .about-card {
    margin-top: 0; /* Quita el margen superior de la card */
    margin-bottom: 0; /* Quita el margen inferior de la card */
    height: 100%; /* Ajusta la altura de la card al 100% */
    display: flex; /* Usa flexbox para alinear verticalmente el contenido */
  }
  
  #flota .card-body {
    padding: 30px; /* Ajusta el padding interno de la card */
    flex: 1; /* Para que la card ocupe todo el espacio disponible */
  }
  
  #flota .card-title {
    color: #ffffff;
    background-color: #FE9B33;
    padding: 15px 20px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 600;
    border-radius: 10px;
  }
  
  #flota .fleet-list {
    font-size: 1.3rem;
    list-style-type: none;
    padding-left: 0;
  }
  
  #flota .fleet-list li {
    color: #0A0707;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
  }
  
  #flota .fleet-list li i {
    color: #FE9B33;
    margin-right: 10px;
    margin-top: 5px;
  }

  /* Ajustes para el carrusel */
#flota .carousel {
    height: 550px;
     /* Ajusta esta altura según tus necesidades */
    overflow: hidden;
  }
  
  #flota .carousel-inner,
  #flota .carousel-item {
    height: 550px;
    width: 100%;
  }
  
  #flota .carousel-item img {
    object-fit: cover;
    height: 550px;
    width: 100%;
  }

/* Fortalezas */
    #fortalezas .box {
    margin-top: 50px;
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #F5F5F5FA;
    height: 200px;
    position: relative;
    background: #F5F5F5FA;
  }
    
  #fortalezas .title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
    background-color: #FE9B33;
    text-align: center;
    color: #F5F5F5FA;
  }

  #fortalezas .fortalezas-titulo {
    color: #F5F5F5FA;
    background-color: #FE9B33;
    padding: 10px 20px;
    font-size: 2.5rem;
    margin-top: 50px;
    font-weight: 600;
    border-radius: 10px;
    display: inline-block;
  }

  #fortalezas .subtitle{
    font-size: 20px;
  }

  #fortalezas .p-fortaleza{
    color: #0A0707;
    font-size: 1.05rem;
  }

  /* Estilos para la sección de servicios */
/* Estilos para la sección de servicios */
#servicios {
    background-image: url(../images/camioneta-3.webp);
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .servicios-titulo {
    color: #ffffff;
    background-color: #FE9B33;
    padding: 15px 20px;
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 600;
    border-radius: 10px;
    display: inline-block;
  }
  
  .servicio-card {
    background-color: #F5F5F5FA;
    border: 3px solid #FE9B33;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    width: 340px;  /* Aumentado el ancho */
    height: 400px; /* Reducido ligeramente la altura */
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
  }
  

  .servicio-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambiado para reducir el espacio entre elementos */
    height: 100%;
    padding: 20px; /* Reducido el padding */
  }
  
  .servicio-card:hover {
    transform: translateY(-5px);
  }
  
  .servicio-icono {
    color: #FE9B33;
    font-size: 3rem;
    margin-bottom: 30px; /* Reducido el margen inferior */
  }
  
  .servicio-card-titulo {
    color: #0a0707;
    font-size: 1.4rem; /* Reducido ligeramente el tamaño de fuente */
    font-weight: 600;
    margin-bottom: 30px; /* Reducido el margen inferior */
    width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
  }
  
  .servicio-descripcion {
    color: #0a0707;
    font-size: 1rem;
    margin-bottom: 0; /* Eliminado el margen inferior */
  }

  
/* FOOTER */
/* Estilos para la sección de contacto */
#contacto {
    background-color: #020202;
    color: #F5F5F5FA;
    padding: 50px 0;
  }
  
  #contacto .contacto-titulo {
    color: #F5F5F5FA;
    background-color: #FE9B33;
    padding: 10px 20px;
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 600;
    border-radius: 10px;
    display: inline-block;
  }
  
  #contacto .titulo-seccion {
    color: #FE9B33;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  #contacto .info {
    font-size: 1.2rem;
    margin-bottom: 15px;

  }
  
  #contacto i {
    color: #FE9B33;
    margin-right: 10px;
  }
  
  #contacto .contacto-logo {
    max-width: 150px;
    height: auto;
  }

  footer {
    background-color: #FE9B33;
    color: #000;
  }
  
  footer p {
    margin: 0;
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    .hero {
        height: 100;
        padding: 50px 0;
        /* Añadimos padding vertical */
    }

    .hero-content {
        text-align: left;
        /* Centramos el contenido en móviles */
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 0;
        /* Eliminamos el margen superior en móviles */
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-content h1 {
        font-size: 2.3rem;
        /* Reducimos el tamaño de la fuente del título */
    }

    .hero-content p {
        font-size: 1rem;
        /* Reducimos el tamaño de la fuente del párrafo */
    }

    .hero .btn-primary {
        padding: 10px 20px;
        /* Reducimos el padding del botón */
        font-size: 0.9rem;
        /* Reducimos el tamaño de la fuente del botón */
    }

    .hero-logo {
        justify-content: center;
    }

    .hero-logo img {
        max-width: 70%;
        max-height: 40%;
    }

    .navbar-collapse {
        position: absolute;
        top: 85px;
        left: 0;
        right: 0;
        background-color: #0a0707;
        padding: 15px;
    }

}

  @media (max-width: 768px) {
    /* Ajustes para la sección de contacto */
    #contacto .contacto-titulo {
        font-size: 2rem;
    }

    #contacto .titulo-seccion {
        font-size: 1.5rem;
    }

    #contacto .info {
        font-size: 0.9rem;
    }

    #contacto .text-md-end {
        text-align: center !important;
        margin-top: 20px;
    }
  
    #contacto .contacto-logo {
        max-width: 100px;
        display: block;
        margin: 0 auto;
    }

    /* Ajustes para la sección NUESTRA FLOTA */
    #flota .about-card {
        height: auto;
    }

    #flota .card-body {
        padding: 30px;
    }

    #flota .card-title {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    #flota .fleet-list {
        font-size: 1rem;
    }

    #flota .carousel {
        height: 300px;
    }

    #flota .carousel-inner,
    #flota .carousel-item,
    #flota .carousel-item img {
        height: 300px;
    }

    /* Ajustes generales para mantener consistencia */
    .about-us-card,
    #flota .about-card,
    #flota .carousel {
        height: auto;
        min-height: 300px;
    }

    .about-us-card .card-title,
    #flota .card-title,
    .servicios-titulo,
    .contacto-titulo {
        font-size: 2rem;
    }

    .about-us-card .card-text,
    #flota .fleet-list li,
    .servicio-descripcion {
        font-size: 1rem;
    }

    .about-us-card img {
        height: 300px; /* Altura fija para móviles */
    }

    #fortalezas .fortalezas-titulo {
        font-size: 2rem;
      }
}